---
variables:
  PYTHON_PACKAGE: "certitude"
  PYVERSION: "3.9-slim"
  KANIKO_EXTRA_ARGS: "--build-arg=PYVERSION"

include:
  - project: just-ci/templates
    file:
      - templates/python-docker.yml
      - project-automation/badge.yml
    ref: v4.1.2

python:pylint:
  variables:
    PYLINT_THRESHOLD: "7"

python:mypy:
  allow_failure: true

certitude:train:
  stage: test
  script:
    - python -m certitude --train /tmp/newmodel.joblib -d tests/data/testset_labeled.csv

certitude:url:
  stage: test
  script:
    - python -m certitude --url https://www.tno.nl/en/about-tno/ --model certitude/utils/data/default_model.pkl
    - python -m certitude --url https://www.sjfkhadsfsdaklfdjsfhas.com/phi --model certitude/utils/data/default_model.pkl
    - python -m certitude --url https://www.sjfkhadsfsdaklfdjsfhas.com/phi -v --model certitude/utils/data/default_model.pkl

badge:commits:
  extends: .badge
  before_script:
    - COMMIT_COUNT=$(git rev-list --all --count)
  variables:
    LABEL: "commits"
    VALUE: "${COMMIT_COUNT}"
    COLOR: "green"
    URL: "${CI_PROJECT_URL}"

badge:version:
  extends: .badge
  before_script:
    - LATEST_TAG=$(git tag | sort -g | tail -1)
  variables:
    LABEL: "version"
    VALUE: "${LATEST_TAG}"
    COLOR: "blue"
    URL: "${CI_PROJECT_URL}"

badge:license:
  extends: .badge
  variables:
    LABEL: "license"
    VALUE: "MPL-2.0"
    COLOR: "orange"
    URL: "${CI_PROJECT_URL}"

badge:code-style:
  extends: .badge
  variables:
    LABEL: "code-style"
    VALUE: "black"
    COLOR: "black"
    URL: "${CI_PROJECT_URL}"
